name: Push

on:
  pull_request:
    branches: [master]

defaults:
  run:
    shell: bash

jobs:
  install:
    env:
      CI: true
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install
        run: yarn --frozen-lockfile

      - name: Lint
        run: yarn lint
        continue-on-error: true
         
  scan-package-a:
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v1
      - name: Analyze package A
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: packages/package-a

  scan-package-b:
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v1
      - name: Analyze package B
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: packages/package-b
